{% extends 'base.html.twig' %}

{% block title %}Projects Lô-Ba{% endblock %}

{% block main %}
    <div class="sectionProjOne">
        <section class="proj-intro">
            <h1>NOS PROJETS</h1>
            <section class="sec-pictos">
                {% for project in projects %}
                    <a href="#">
                        <img src="{{ asset('uploads/images/' ~ project.media) }}" alt="">
                    </a>
                {% endfor %}
            </section>
        </section>

        {% for project in projects %}
            <section class="sec-sante">
                <a id="sante-title"><h2>{{project.title}}</h2></a>
                <div class="content">{{ project.content|raw }}</div>
            </section>
        {% endfor %}
    </div>

{% endblock %}
