{# {% extends 'base.html.twig' %} #}

{# {% block title %}Home Lô-Ba{% endblock %} #}

{% block main %}
    <div class="sectionOne">

        <section class="sec-intro">
            <div class="intro">
                {{ intro.content|raw }}
            </div>
        </section>

        {% for section in sections %}
            <section class="sec-mission">
                <h2 class="mission-title">{{ section.title }}</h2>
                <div class="mission-txt">
                    {{ section.content|raw }}
                </div>
            </section>
        {% endfor %}
    </div>
{% endblock %}