<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <h5>About Lô-Ba International</h5>
                <p>Lô-Ba International Incorporation is an American nonprofit, tax-exempt charitable organization (tax ID number 82-3486347) under Section 501(c)(3) of the Internal Revenue Code. Donations are tax-deductible as allowed by law.</p>
                <p>Lô-Ba International is a non-governmental organization founded in 2018 supporting the resilience of women and young girls vulnerable to climate change through agriculture, health and education.</p>
            </div>
            <div class="col-md-4 col-sm-6">
                <h5>Contact</h5>
                <ul class="list-styled">
                    <li><i class="fas fa-phone"></i> +1 347-553-7313</li>
                    <li><i class="fas fa-envelope"></i> onglobainternational@gmail.com</li>
                    <li><i class="fas fa-map-marker-alt"></i> NGO Lô-Ba International, Inc.<br>333 EAST 46TH STREET<br>NEW-YORK<br>(USA)</li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-6">
                <h5>Subscribe to our newsletter</h5>
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Enter your email">
                    </div>
                    <button type="submit" class="btn btn-primary">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</footer>






{#<footer class="foo">#}
{#    <div class="foo-container">#}
{#        <div class="foo-row">#}
{#            <div class="foo-col">#}
{#                <h4>Lô-Ba</h4>#}
{#                <ul>#}
{#                    <li><a href="#">About us</a></li>#}
{#                    <li><a href="#">Our services</a></li>#}
{#                    <li><a href="#">Privacy policy</a></li>#}
{#                    <li><a href="#">Webmasters</a></li>#}
{#                </ul>#}
{#            </div>#}
{#            <div class="foo-col">#}
{#                <h4>Get help</h4>#}
{#                <ul>#}
{#                    <li><a href="#">FAQ</a></li>#}
{#                    <li><a href="#">Shipping</a></li>#}
{#                    <li><a href="#">Returns</a></li>#}
{#                    <li><a href="#">Order status</a></li>#}
{#                    <li><a href="#">Payment option</a></li>#}
{#                </ul>#}
{#            </div>#}
{#            <div class="foo-col">#}
{#                <h4>Online shop</h4>#}
{#                <ul>#}
{#                    <li><a href="#">Groceries</a></li>#}
{#                    <li><a href="#">Electronics</a></li>#}
{#                    <li><a href="#">Dress</a></li>#}
{#                    <li><a href="#">Smartphones</a></li>#}
{#                </ul>#}
{#            </div>#}
{#            <div class="foo-col">#}
{#                <h4>Follow us</h4>#}
{#                <div class="social-links">#}
{#                    <a href="#"><i class="fab fa-facebook-f"></i></a>#}
{#                    <a href="#"><i class="fab fa-instagram"></i></a>#}
{#                    <a href="#"><i class="fab fa-twitter"></i></a>#}
{#                    <a href="#"><i class="fab fa-linkedin"></i></a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</footer>#}