<footer class="foo">
    <div class="foo-container">
        <div class="foo-row">
            <div class="foo-col">
                <h4>Lô-Ba</h4>
                <ul>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Our services</a></li>
                    <li><a href="#">Privacy policy</a></li>
                    <li><a href="#">Affilate program</a></li>
                </ul>
            </div>
            <div class="foo-col">
                <h4>Get help</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Returns</a></li>
                    <li><a href="#">Order status</a></li>
                    <li><a href="#">Payment option</a></li>
                </ul>
            </div>
            <div class="foo-col">
                <h4>Online shop</h4>
                <ul>
                    <li><a href="#">Groceries</a></li>
                    <li><a href="#">Electronics</a></li>
                    <li><a href="#">Dress</a></li>
                    <li><a href="#">Smartphones</a></li>
                </ul>
            </div>
            <div class="foo-col">
                <h4>Follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>