<header class="head-nav">
    <nav>
        <img class="Logo_loba" src="{{ asset('build/images/Logo_loba.svg') }}" alt="#">

        <ul>
            <li><a href="{{ path('app_home') }}">Accueil</a></li>
            <li><a href="{{ path('app_test') }}">Projets</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Dons</a></li>
        </ul>

        <button type="co-but">Connexion</button>

        <div>FR</div>
    </nav>
</header>