section{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10em 0 12em;
}

.sectionProjOne {
  background-image: url('../../images/outdoors-3378794_1920.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  z-index: 1;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 88%, 0 100%);

  .proj-intro{
    /* max-width: 1100px; */
    margin: 0 auto;
    padding: 0 10px;

    h1{
      display: block;
      text-align: center;
      font-family: var(--bold-font), Helvetica, sans-serif;
      font-size: 2.5em;
      color: var(--main-color-orange);
      background-color: var(--main-color-black);
      border: 2px solid var(--main-color-orange);
      max-width: 400px;
      border-radius: 30px;
      padding: 0.2em 1em;
      margin-top: 5em;
      margin-bottom: 2em;
    }

    section h2 {
      display: block;
      text-align: center;
      font-family: var(fontBold), Helvetica, sans-serif;
      font-size: 2em;
      color: var(--main-color-black);
      background-color: var(--main-color-white);
      max-width: 300px;
      border-radius: 30px;
      padding: 0.2em 1em;
      /* margin-top: 5em; */
      margin-bottom: 2em;
    }

    .sec-pictos{
      display: flex;
      flex-direction: row;

      .pictos-links{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        margin-top: 2em;
      }

      a img{
        width: 300px;
        height: 300px;
        margin: 1em;
        //box-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
      }
    }
  }

  .sec-sante{
    background-color: var(--main-color-orange);
    padding: 10em 0 20em;
    clip-path: polygon(0 12%, 100% 0, 100% 88%, 0 100%);

    #sante-title{
      h2{
        color: var(--main-color-orange);
        margin-top: 2em;
      }
    }

    h3{
      font-family: var(--bold-font), Helvetica, sans-serif;
      color: var(--main-color-white);
      font-size: 1.5em;
      padding-top: 2em;
    }

    .sante-txt{
      max-width: 1000px;
      line-height: 1.5em;
      font-size: 1.2em;
      padding-top: 1em;

      li{
        padding-top: 1em;
      }
    }
  }
}

.sectionProjTwo{
  background-image: url(../../images/jeffrey-riley-dsN1oZVba48-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin-top: -400px;
  padding-top: 150px;
  width: 100%;
  clip-path: polygon(0 -12%, 100% 0, 100% 88%, 0 100%);

  .sec-agri{
    padding: 10em 0 10em;

    //.agri-title {
    //  font-size: 2em;
    //}

    h3{
      font-family: var(--bold-font), Helvetica, sans-serif;
      color: var(--main-color-white);
      font-size: 1.5em;
      padding-top: 2em;
    }

    .agri-txt{
      max-width: 1000px;
      line-height: 1.5em;
      font-size: 1.2em;
      padding-top: 1em;
      color: var(--main-color-white);

      li{
        padding-top: 1em;
      }
    }
  }

  .sec-educ{
    background-color: var(--main-color-green);
    padding: 10em 0 20em;
    clip-path: polygon(0 12%, 100% 0, 100% 88%, 0 100%);

    #educ-title{
      h2{
        color: var(--main-color-green);
      }
    }

    .educ-txt{
      max-width: 1000px;
      line-height: 1.5em;
      font-size: 1.2em;
      padding-top: 1em;
      color: var(--main-color-white);

      li{
        padding-top: 1em;
      }
    }
  }
}