{% extends 'base.html.twig' %}

{% block title %}Projects Lô-Ba{% endblock %}

{% block body %}

<div class="sectionUno" style="background-image: url('{{ asset('build/images/girl-2980722_1920.jpg') }}')">

    {% block header %}
        {% include ('partials/main_header.html.twig') %}
    {% endblock %}

    <div class="main-form">
        <div class="login-section">
            <div class="formbox login">
                <form action="">
                    <h2>Connexion</h2>

                    <div class="input-box">
                            <span class="icon">
                                <i class='bx bxs-envelope'></i>
                            </span>
                        <input type="email" required>
                        <label for="email">Email</label>
                    </div>

                    <div class="input-box">
                            <span class="icon">
                                <i class='bx bxs-lock-alt'></i>
                            </span>
                        <input type="password" required>
                        <label for="password">Mot de passe</label>
                    </div>

                    <div class="rem-password">
                        <label for=""><input type="checkbox">Se souvenir de moi</label>
                        <a href="#">Mot de passe oublié</a>
                    </div>

                    <button class="btn-val">Validez</button>

                    <div class="crea-account">
                        <p>Création d'un compte ?  <a href="#" class="register-link">  Inscription</a></p>
                    </div>
                </form>
            </div>

            <div class="formbox register">
                <form action="">
                    <h2>Inscription</h2>

                    <div class="input-box">
                            <span class="icon">
                                <i class='bx bxs-envelope'></i>
                            </span>
                        <input type="email" required>
                        <label for="email">Email</label>
                    </div>

                    <div class="input-box">
                            <span class="icon">
                                <i class='bx bxs-lock-alt'></i>
                            </span>
                        <input type="password" required>
                        <label for="password">Mot de passe</label>
                    </div>

                    <div class="input-box">
                            <span class="icon">
                                <i class='bx bxs-lock-alt'></i>
                            </span>
                        <input type="password" required>
                        <label for="password">Confirmez votre mot de passe</label>
                    </div>

                    <button class="btn-val">Validez</button>

                    <div class="crea-account">
                        <p>Vous avez déjà un compte ?  <a href="#" class="login-link">  Connexion</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>


    {% block footer %}
        {% include('partials/footer.html.twig') %}
    {% endblock %}

{% endblock %}