{% extends 'base.html.twig' %}

{% block title %}Contact Lô-Ba{% endblock %}

{% block main %}
    <section class="contact-section">
        <div class="cont-full">
            <div class="contact-container">
                <div class="form-container">
                    <h3>Contactez nous !</h3>
                    <form action="" class="contact-form">
                        <input type="text" placeholder="Nom et prénom" required>
                        <input type="email" name="" id="" placeholder="Entrez votre Email" required>
                        <input type="text" placeholder="Sujet" required>
                        <textarea name="" id="" cols="30" rows="10" placeholder="Écrivez votre message"
                                  required></textarea>
                        <input type="submit" value="ENVOYER" class="send-button">
                    </form>
                </div>

                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.4522234623596!2d-73.97322210558407!3d40.7520773868599!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2591d72702681%3A0xf00aba15c95483c1!2sNon%20profit%20%7C%20L%C3%B4-Ba%20International%20%7C%20United%20States%20%7C%20ONG!5e0!3m2!1sfr!2sfr!4v1678910892175!5m2!1sfr!2sfr"
                            style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>

    </section>
{% endblock %}