*,
::before,
::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--reg-font), Helvetica, sans-serif;
  color: var(--main-color-white);
  background-color: var(--main-color-black);

  section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 1rem 12rem;

    h2{
      display: block;
      text-align: center;
      font-family: var(--bold-font), Helvetica, sans-serif;
      font-size: 2rem;
      color: var(--main-color-black);
      background-color: var(--main-color-white);
      max-width: 300px;
      border-radius: 30px;
      padding: 0.2rem 1rem;
      /* margin-top: 5em; */
      margin-bottom: 2rem;
    }

    p{
      max-width: 800px;
      line-height: 2rem;
      font-size: 1.2rem;
      padding-top: 1rem;
    }

    ul{
      li{
        max-width: 800px;
        line-height: 2rem;
        font-size: 1.2rem;
        padding-top: 1rem;
      }
    }
  }



  .sectionOne{
    background-image: url(../../images/africa-1089242_1920.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    //margin-bottom: 100px;
    z-index: 1;
    width: 100%;
    //clip-path: polygon(0 0, 100% 0, 100% 88%, 0 100%);

    .intro{
      max-width: 800px;
      background-color: rgba(255, 255, 255, 0.6);
      border-radius: 30px;
      color: var(--main-color-black);
      font-size: 1.7rem;
      margin-top: 5rem;
      padding: 5rem;
      line-height: 3rem;

      span{
        font-family: var(--bold-font);
        color: var(--main-color-orange);
      }
    }

    .sec-mission{
      background-color: var(--main-color-orange);
      //padding: 5em 0 5em;
      //clip-path: polygon(0 12%, 100% 0, 100% 88%, 0 100%);

      //.mission-title{
      //  color: var(--main-color-orange);
      //  font-size: 2rem;
      //}
      //
      //.mission-txt{
      //  max-width: 800px;
      //  line-height: 1.5rem;
      //  font-size: 1.2rem;
      //  padding-top: 1rem;
      //}
      //
      //ul li{
      //  //max-width: 500px;
      //  padding-top: 1rem;
      //}
    }
  }

  .sectionTwo{
    position: relative;
    background-image: url(../../images/african-5035645_1920.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    //margin-top: -400px;
    //padding-top: 150px;
    width: 100%;
    //clip-path: polygon(0 -12%, 100% 0, 100% 88%, 0 100%);

    .sec-vision{
      //padding: 5rem 0 5rem;

      //.vision-title{
      //  //margin-top: 100px;
      //  font-size: 2rem;
      //}
      //
      //.vision-txt{
      //  max-width: 800px;
      //  line-height: 1.5rem;
      //  font-size: 1.2rem;
      //  padding-top: 1rem;
      //}
      //
      //ul li{
      //  padding-top: 1rem;
      //}
    }

    .sec-obj{
      background-color: var(--main-color-green);
      //padding: 5rem 0 5rem;
      //clip-path: polygon(0 12%, 100% 0, 100% 88%, 0 100%);

      //.obj-title{
      //  //margin-top: 100px;
      //  color: var(--main-color-green);
      //  font-size: 2rem;
      //}
      //
      //.obj-txt{
      //  max-width: 800px;
      //  line-height: 1.5rem;
      //  font-size: 1.2rem;
      //  padding-top: 1rem;
      //}
      //
      //ul li{
      //  padding-top: 1rem;
      //}
    }
  }
}
















