{% extends 'base.html.twig' %}

{% block title %}Connexion Lô-Ba{% endblock %}

{% block main %}

    <div id="container-part">
        <h1 id="part-title">OUR PARTNERS</h1>

        <div class="part-back">
            {% for partner in partners %}
                <div class="part-list">
                    <img src="{{ asset('uploads/images/' ~ partner.logo) }}" alt="logo {{ partner.name }}" style="float:left">
                    <a href="{{ partner.link }}" target="_blank">{{ partner.name }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}