{% extends 'base.html.twig' %}

{% block title %}Connexion Lô-Ba{% endblock %}

{% block main %}

    <div id="container-part">
        <div class="cont-full">
            <h1 id="part-title">Nos partenaires</h1>

            <div class="part-cont">
                <div class="part-back">
                    <ul class="part-list">
                        <li>
                            <img src="{{ asset('build/images/Logo Davy Design blanc.png') }}" alt="logo Davy Design">
                            <p><a href="https://gitdavydesign.github.io/CVWebDavy2023/" target="_blank">Davy Design</a></p>
                        </li>
                        <li>
                            <img src="{{ asset('build/images/kywbe_logo.png') }}" alt="logo Ryww">
                            <p><a href="http://www.ryww.fr" target="_blank">Laurent Chaitas</a></p>
                        </li>
                        <li>
                            <img src="{{ asset('build/images/LogoJu.png') }}" alt="logo Julien Asinari" style="float:left">
                            <p><a href="https://juju01510.github.io/CV-Portfolio/" target="_blank">Julien Asinari</a></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}