{% extends 'base.html.twig' %}

{% block title %}Connexion Lô-Ba{% endblock %}

{% block main %}

    <div id="container-part">
        <div class="cont-full">
            <h1 id="part-title">Nos partenaires</h1>

            <div class="part-cont">
                <div class="part-back">
                    <ul>
                        <li>Mihqduhsfuhuiqsdhf</li>
                        <li>Csogjdogjopjdosg</li>
                        <li>Vqfhifhiohfoihs</li>
                        <li>Hfjqidfijqfjs</li>
                        <li>Bfhqoifhdqisjfje</li>
                        <li>Sighoidhgios</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}